:root {
    --background:#fff;
    --text:#222;
    --borer-default:1px solid;
    --font-sm:12px;
    --spacing-sm:4px;
    --spacing-xlarge:48px;
    --shadow-default:10px 9px 33px - 17px rgba(0, 0, 0, 0.75);
}

.card {
    background-color:var(--background);
    color:var(--primary);
    padding:var(--spacing-medium);
    margin: var(--spacing-large);
    border: var(--border-default);
    border-color: var(--light);
    border-radius: var(--radius-default);
    box-shadow:var(--shadow-default);
}